
<div class="container">    
    <div class="row">
        <div class="col-2">
            <a class="btn btn-link" [routerLink]="['/']">Back to employees</a>
        </div>
    </div>
    <div class="row">        
        <div class="col-3">
            <h3>Beneficiaries</h3>
        </div>
        <div class="col-4 offset-5">
            <a class="btn btn-link" [routerLink]="['add']">+ Got to beneficiaries' details</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-beneficiary-list></app-beneficiary-list>
        </div>
    </div>
</div>